@import './utilities';
@import './variables';
@import './reset';
@import './layout';

@import './components/buttons';
@import './components/navbar';
@import './components/cart';
@import './components/image-gallery';
@import './components/product';
@import './components/quantity-counter';
@import './components/cart';
@import './components/lightbox';

.attribution {
    font-size: 0.8rem;
    text-align: center;
    color: $color-grayish-blue-500;
    padding-top: rem(40);

    a {
        color: #b34d00;

        &:hover {
            text-decoration: underline;
        }
    }
}
